@using InternetBanking.Core.Application.ViewModels.Transactions
@using InternetBanking.Core.Domain.Enums
@model SaveTransactionViewModel

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">Transferencia entre Cuentas</h5>
        </div>
        <div class="modal-body">
            <!-- Formulario de Transferencia -->
            <form id="transferForm" method="post" action="@Url.Action("Transaction", "Transaction")">
                <!-- Cuenta de Origen -->
                <div class="mb-4">
                    <label asp-for="SourceAccount" class="form-label font-weight-bold">Cuenta de Origen</label>
                    <select asp-for="SourceAccount" id="sourceAccountSelect" class="form-select form-select-lg" required>
                        <option value="" disabled selected>Seleccione una cuenta de origen</option>
                        @foreach (var account in Model.accounts)
                        {
                            if (account.AccountType == AccountType.Loan) continue;
                            <option value="@account.Id" data-account-id="@account.Id">
                                @account.AccountNumber - Saldo: @account.CurrentBalance.ToString("C", new System.Globalization.CultureInfo("es-DO"))
                            </option>
                        }
                    </select>
                    <span asp-validation-for="SourceAccount" class="text-danger"></span>
                </div>

                <!-- Cuenta de Destino -->
                <div class="mb-4">
                    <label asp-for="DestinationAccount" class="form-label font-weight-bold">Cuenta de Destino</label>
                    <select asp-for="DestinationAccount" id="destinationAccountSelect" class="form-select form-select-lg" required>
                        <option value="" disabled selected>Seleccione una cuenta de destino</option>
                        @foreach (var account in Model.accounts)
                        {
                            if ( account.AccountType == AccountType.Loan) continue;
                            <option value="@account.AccountNumber" data-account-id="@account.Id">
                                @account.AccountNumber - Saldo: @account.CurrentBalance.ToString("C", new System.Globalization.CultureInfo("es-DO"))
                            </option>
                        }
                    </select>
                    <span asp-validation-for="DestinationAccount" class="text-danger"></span>
                </div>


                <!-- Monto a Transferir -->
                <div class="mb-4">
                    <label asp-for="Amount" class="form-label font-weight-bold">Monto a Transferir</label>
                    <input asp-for="Amount" class="form-control form-control-lg" placeholder="Ingrese el monto" type="number" step="0.01" min="0.01" required />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                @{
                    int i = 0;
                }
                <!-- Campos ocultos para cada cuenta en la lista -->
                @foreach (var account in Model.accounts)
                {
                    <input type="hidden" name="Accounts[@i].Id" value="@account.Id" />
                    <input type="hidden" name="Accounts[@i].AccountNumber" value="@account.AccountNumber" />
                    <input type="hidden" name="Accounts[@i].CurrentBalance" value="@account.CurrentBalance" />
                    <input type="hidden" name="Accounts[@i].UserId" value="@account.UserId" />
                    <input type="hidden" name="Accounts[@i].AccountType" value="@account.AccountType" />
                    <input type="hidden" name="Accounts[@i].InitialAmount" value="@account.InitialAmount" />
                    <input type="hidden" name="Accounts[@i].CreditLimit" value="@account.CreditLimit" />
                    <input type="hidden" name="Accounts[@i].LoanAmount" value="@account.LoanAmount" />
                    i++;
                }

                <!-- Botón para abrir el modal de confirmación -->
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" onclick="showConfirmationModal()">Realizar Transferencia</button>
                </div>
            </form>

            <!-- Modal de Confirmación -->
            <div id="confirmationModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmación de Transferencia</h5>
                            <button type="button" class="close" onclick="document.getElementById('confirmationModal').style.display='none'">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>¿Deseas confirmar la transferencia entre cuentas?</p>
                            <p><strong>Cuenta Origen:</strong> <span id="sourceAccountInfo"></span></p>
                            <p><strong>Cuenta Destino:</strong> <span id="destinationAccountInfo"></span></p>
                            <p><strong>Monto:</strong> <span id="confirmationAmount"></span></p>
                            <p><strong>Nombre del Destinatario:</strong> <span id="ownerName"></span></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="document.getElementById('confirmationModal').style.display='none'">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="confirmTransfer()">Confirmar Transferencia</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const amountInput = document.querySelector('input[name="Amount"]');
            const sourceAccountSelect = document.querySelector('select[name="SourceAccount"]');
            const destinationAccountSelect = document.querySelector('select[name="DestinationAccount"]');

            amountInput.addEventListener("input", function () {
                if (this.value < 0) {
                    this.value = "";
                    alert("El monto debe ser un valor positivo.");
                }
            });

            function showAlert(message) {
                alert(message);
            }

            window.showConfirmationModal = function () {
                const destinationAccount = destinationAccountSelect.value;
                const amountPaid = amountInput.value;

                if (!destinationAccount) {
                    showAlert("Por favor, seleccione una cuenta de destino.");
                    return;
                }
                if (!sourceAccountSelect.value) {
                    showAlert("Por favor, seleccione una cuenta de origen.");
                    return;
                }
                if (!amountPaid || amountPaid <= 0) {
                    showAlert("Por favor, ingrese un monto válido.");
                    return;
                }

                fetch(`/Payments/GetAccountOwner?accountNumber=${destinationAccount}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById("ownerName").innerText = `${data.firstName} ${data.lastName}`;
                            document.getElementById("sourceAccountInfo").innerText = sourceAccountSelect.selectedOptions[0].text;
                            document.getElementById("destinationAccountInfo").innerText = destinationAccountSelect.selectedOptions[0].text;
                            document.getElementById("confirmationAmount").innerText = parseFloat(amountPaid).toLocaleString("es-DO", { style: "currency", currency: "DOP" });
                            document.getElementById("confirmationModal").style.display = "block";
                        } else {
                            showAlert("Cuenta destino no encontrada.");
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }

            window.confirmTransfer = function () {
                document.getElementById("transferForm").submit();
            }
        });



            document.addEventListener("DOMContentLoaded", function () {
                const sourceAccountSelect = document.getElementById("sourceAccountSelect");
                const destinationAccountSelect = document.getElementById("destinationAccountSelect");

                function filterAccounts() {
                    const selectedSource = sourceAccountSelect.value;
                    const selectedDestination = destinationAccountSelect.value;

                    // Mostrar todas las opciones en ambos selectores primero para eliminar cualquier filtro anterior
                    Array.from(sourceAccountSelect.options).forEach(option => option.hidden = false);
                    Array.from(destinationAccountSelect.options).forEach(option => option.hidden = false);

                    // Si hay una cuenta seleccionada en "Cuenta de Origen", ocultarla en "Cuenta de Destino"
                    if (selectedSource) {
                        Array.from(destinationAccountSelect.options).forEach(option => {
                            if (option.getAttribute("data-account-id") === selectedSource) {
                                option.hidden = true;
                            }
                        });
                    }

                    // Si hay una cuenta seleccionada en "Cuenta de Destino", ocultarla en "Cuenta de Origen"
                    if (selectedDestination) {
                        Array.from(sourceAccountSelect.options).forEach(option => {
                            if (option.getAttribute("data-account-id") === selectedDestination) {
                                option.hidden = true;
                            }
                        });
                    }
                }

                // Escuchar los cambios en ambos selectores
                sourceAccountSelect.addEventListener("change", filterAccounts);
                destinationAccountSelect.addEventListener("change", filterAccounts);

                // Llamar a la función al cargar para aplicar los filtros si ya hay valores seleccionados
                filterAccounts();
            });
    

    </script>
}
